In [9]:
# Librerias y carga de datos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [11]:
# Carga de datos
# Dataset de Clasificaci贸n
df_cls = pd.read_csv("data/wine_data_train_classification.csv")
print(f"Dataset Clasificaci贸n cargado: {df_cls.shape[0]} filas, {df_cls.shape[1]} columnas")

# Dataset de Regresi贸n
df_reg = pd.read_csv("data/wine_data_train_regression.csv")
print(f"Dataset Regresi贸n cargado: {df_reg.shape[0]} filas, {df_reg.shape[1]} columnas")

#informaci贸n b谩sica de los datasets
info_cls = pd.DataFrame({
    "Tipo de Dato": df_cls.dtypes,
    "Valores Nulos": df_cls.isnull().sum(),
    "Valores nicos": df_cls.nunique(),
    "Valores No Nulos": df_cls.notnull().sum()
})

display(info_cls.style.background_gradient(cmap='Greens').set_caption(" Informaci贸n General - Dataset Clasificaci贸n"))

info_reg = pd.DataFrame({
    "Tipo de Dato": df_reg.dtypes,
    "Valores Nulos": df_reg.isnull().sum(),
    "Valores nicos": df_reg.nunique(),
    "Valores No Nulos": df_reg.notnull().sum()
})

display(info_reg.style.background_gradient(cmap='Oranges').set_caption(" Informaci贸n General - Dataset Regresi贸n"))

Dataset Clasificaci贸n cargado: 5847 filas, 14 columnas
Dataset Regresi贸n cargado: 5847 filas, 13 columnas

In [14]:
print("\n=== NULOS Y DUPLICADOS ===")
print("Clasificaci贸n - Nulos:\n", df_cls.isnull().sum())
print("Regresi贸n - Nulos:\n", df_reg.isnull().sum())
print(f"Duplicados Clasificaci贸n: {df_cls.duplicated().sum()}")
print(f"Duplicados Regresi贸n: {df_reg.duplicated().sum()}")

=== NULOS Y DUPLICADOS ===
Clasificaci贸n - Nulos:
 fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
type                    0
quality_category        0
quality_label           0
dtype: int64
Regresi贸n - Nulos:
 fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
type                    0
quality                 0
dtype: int64
Duplicados Clasificaci贸n: 970
Duplicados Regresi贸n: 969

In [ ]:

# An谩lisis estad铆stico descriptivo
print("\nDescripci贸n estad铆stica del dataset de Clasificaci贸n:")
print(df_cls.describe())    
print("\nDescripci贸n estad铆stica del dataset de Regresi贸n:")
print(df_reg.describe())  

# Visualizaci贸n de datos

# Identificaci贸n de outliers
def detectar_outliers(df, columna):
    Q1 = df[columna].quantile(0.25)
    Q3 = df[columna].quantile(0.75)
    IQR = Q3 - Q1
    out = df[(df[columna] < Q1 - 1.5*IQR) | (df[columna] > Q3 + 1.5*IQR)]
    return out.shape[0]

print("\n=== OUTLIERS DETECTADOS (Clasificaci贸n) ===")
for c in df_cls.select_dtypes(include=[np.number]).columns:
    print(f"{c}: {detectar_outliers(df_cls, c)}")
    print("\n=== OUTLIERS DETECTADOS (Regresi贸n) ===")
for c in df_reg.select_dtypes(include=[np.number]).columns:
    print(f"{c}: {detectar_outliers(df_reg, c)}")

# Visualizaci贸n de distribuciones de variables num茅ricas
num_cols_cls = df_cls.select_dtypes(include=[np.number]).columns
num_cols_reg = df_reg.select_dtypes(include=[np.number]).columns
for col in num_cols_cls:
    plt.figure(figsize=(8, 4))
    sns.histplot(df_cls[col], kde=True)
    plt.title(f'Distribuci贸n de {col} (Clasificaci贸n)')
    plt.show()
for col in num_cols_reg:
    plt.figure(figsize=(8, 4))
    sns.histplot(df_reg[col], kde=True)
    plt.title(f'Distribuci贸n de {col} (Regresi贸n)')
    plt.show()


# Correlaci贸n entre variables
# print("\n=== MATRIZ DE CORRELACIN (Clasificaci贸n) ===")
# corr_cls = df_cls.corr()
# sns.heatmap(corr_cls, annot=True, fmt=".2f", cmap="coolwarm")
# plt.title("Matriz de Correlaci贸n - Clasificaci贸n")
# plt.show()
# print("\n=== MATRIZ DE CORRELACIN (Regresi贸n) ===")
# corr_reg = df_reg.corr()
# sns.heatmap(corr_reg, annot=True, fmt=".2f", cmap="coolwarm")
# plt.title("Matriz de Correlaci贸n - Regresi贸n")
# plt.show()

# Preparaci贸n de datos para modelado
# Analisis multivariado
# limpieza y transformaci贸n de datos
print("EDA Wines script loaded successfully.")

In [ ]:

# Visualizaci贸n de datos

# Identificaci贸n de outliers
def detectar_outliers(df, columna):
    Q1 = df[columna].quantile(0.25)
    Q3 = df[columna].quantile(0.75)
    IQR = Q3 - Q1
    out = df[(df[columna] < Q1 - 1.5*IQR) | (df[columna] > Q3 + 1.5*IQR)]
    return out.shape[0]

print("\n=== OUTLIERS DETECTADOS (Clasificaci贸n) ===")
for c in df_cls.select_dtypes(include=[np.number]).columns:
    print(f"{c}: {detectar_outliers(df_cls, c)}")
    print("\n=== OUTLIERS DETECTADOS (Regresi贸n) ===")
for c in df_reg.select_dtypes(include=[np.number]).columns:
    print(f"{c}: {detectar_outliers(df_reg, c)}")

# Visualizaci贸n de distribuciones de variables num茅ricas
num_cols_cls = df_cls.select_dtypes(include=[np.number]).columns
num_cols_reg = df_reg.select_dtypes(include=[np.number]).columns
for col in num_cols_cls:
    plt.figure(figsize=(8, 4))
    sns.histplot(df_cls[col], kde=True)
    plt.title(f'Distribuci贸n de {col} (Clasificaci贸n)')
    plt.show()
for col in num_cols_reg:
    plt.figure(figsize=(8, 4))
    sns.histplot(df_reg[col], kde=True)
    plt.title(f'Distribuci贸n de {col} (Regresi贸n)')
    plt.show()


# Correlaci贸n entre variables
# print("\n=== MATRIZ DE CORRELACIN (Clasificaci贸n) ===")
# corr_cls = df_cls.corr()
# sns.heatmap(corr_cls, annot=True, fmt=".2f", cmap="coolwarm")
# plt.title("Matriz de Correlaci贸n - Clasificaci贸n")
# plt.show()
# print("\n=== MATRIZ DE CORRELACIN (Regresi贸n) ===")
# corr_reg = df_reg.corr()
# sns.heatmap(corr_reg, annot=True, fmt=".2f", cmap="coolwarm")
# plt.title("Matriz de Correlaci贸n - Regresi贸n")
# plt.show()

# Preparaci贸n de datos para modelado
# Analisis multivariado
# limpieza y transformaci贸n de datos
print("EDA Wines script loaded successfully.")